@{
    ViewBag.Title = "学生端首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("HomePartialView")

<link href="~/Resources/css/index.css" rel="stylesheet" />
<link href="~/Resources/css/main.css" rel="stylesheet" type="text/css">
<link href="~/Resources/css/themify-icons.css" rel="stylesheet" />


<!--Index-->
<div class="container">
    <div class="fh5co-spacer fh5co-spacer-md"></div>
    <div class="row" id="fh5co-features">

        <div class="col-md-6 col-sm-4 text-center fh5co-feature feature-box">
            <figure class="effect-sadie">
                <div class="fh5co-feature-icon">
                    <a href="@Url.Content("~/Student/PersonalLinePage/")"><i class="ti-user"></i></a>
                </div>
                <h3 class="heading tm-figure-title">个人学习曲线</h3>
                <p style="color: #8b969c; padding-top: 20px">点击这里可以查看你近期的学习变化曲线</p>
            </figure>
        </div>

        <div class="col-md-6 col-sm-4 text-center fh5co-feature feature-box">
            <figure class="effect-sadie">
                <div class="fh5co-feature-icon">
                    <a href="@Url.Content("~/Student/GradeClassChartPage/")"><i class="ti-bar-chart"></i></a>
                </div>
                <h3 class="heading">班级学习曲线</h3>
                <p style="color: #8b969c; padding-top: 20px">点击这里可以查看你所在班级近期的学习变化曲线 </p>
            </figure>
        </div>

        <div class="col-md-6 col-sm-4 text-center fh5co-feature feature-box">
            <figure class="effect-sadie">
                <div class="fh5co-feature-icon">
                    <a href="@Url.Content("~/Student/KnowledgePage/")"><i class="ti-book"></i></a>
                </div>
                <h3 class="heading">知识点掌握情况</h3>
                <p style="color: #8b969c; padding-top: 20px">点击这里可以查看你对知识点的掌握情况</p>
            </figure>
        </div>

        <div class="col-md-6 col-sm-4 text-center fh5co-feature feature-box">
            <figure class="effect-sadie">
                <div class="fh5co-feature-icon">
                    <a href="@Url.Content("~/Manual/")"><i class="ti-help"></i></a>
                </div>
                <h3 class="heading">本站使用指南</h3>
                <p style="color: #8b969c; padding-top: 20px">如果还不会使用，请看简单使用指南 </p>
            </figure>
        </div>
    </div>
</div>
